.map-container {
  position: fixed; /* Change from relative to fixed */
  top: 0;
  right: 0;
  width: 50%; /* Adjust width as needed */
  margin-top: 8vh;
  height: 92vh; /* Full viewport height */
  z-index: 999; /* Ensure it's above other content */
}

.map-toggle-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(199deg, rgb(5, 29, 64) 33%, rgb(108, 146, 202) 100%);
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-toggle-button:hover {
  background: linear-gradient(199deg, rgb(108, 146, 202) 33%, rgb(5, 29, 64) 100%);
  transform: scale(1.1);
}

.map-toggle-button svg {
  width: 24px;
  height: 24px;
  color: white;
}

.results-container {
  display: flex;
  height: 100vh; /* Ensures the container takes full viewport height */
  margin-right: 4vh;
}

.results-list {
  flex: 1;
  max-width: 50%; /* Adjust width as needed */
  margin-right: 20px;
  overflow-y: auto; /* Allows scrolling if the list is too long */
  padding: 20px; /* Adds some padding to the results list */
}

.result-card-link {
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.result-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.result-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.result-image {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.result-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.result-details {
  flex: 2;
}

.result-details .rating {
  color: #FFA500; /* Customize the rating color */
}

.result-price {
  flex: 1;
  text-align: right;
}


.result-price {
  flex: 1;
  text-align: right;
}


.btn {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: linear-gradient(199deg, rgb(108, 146, 202) 33%, rgb(5, 29, 64) 100%);
  color: #f5f5f5;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}