.app {
  display: flex;
  flex-direction: column;
}

.content {
  transition: margin-top 0.3s ease-in-out;
  margin-top: 14vh; /* Added margin-top for the content */
  padding: 20px; /* Optional: add some padding to the content */
}
