body {
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.MuiContainer-root {
  margin-top: 50px;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
  color: #fff;
}
